#clientlist_logo
#page
  #clinics_container
    - @clinics.each do |clinic|
      %a{:href=>"/clinics/#{clinic.id}", :class=>"clinic #{clinic.status}"}
        .name
          return "ontime"
          = clinic.name
        .status
          = clinic.status_text
        .clear

  .clear