@import "colours";
@import "rounded";
@import "shadows";

/* Variables */
$page_width: 100%;
$content_width: 960px;

@mixin hoverable(){
    cursor: pointer;
}

* {
    font: 100%/1em "Helvetica-Light", Verdana, Arial, Helvetica, sans-serif;
}

/* Georgia-Bold */

/*Opera Footer Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

html, body {height: 100%;}

#wrapper, body {
    background-color: #ffffff;
}

#wrapper {
    min-width: $content_width;
    width: $page_width;
    min-height: 100%;
}

.content {
    min-width: $content_width;
    width: $content_width;
    margin: 0 auto;
    padding-bottom: 35px;
}

#header {
    height: 20px;
    background-color: $dark_purple;
    border-bottom: 2px solid #999999;
    color: #FFFFFF;
    font-size: 0.8em;
    padding: 5px 0px 0px 5px;
}

#footer{
    background-color: $dark_purple;
    font-size: 0.8em;
    padding: 5px 0px 0px 5px;
    height: 28px;
    border-top: 1px solid #999999;
    color: #FFFFFF;
    padding-top: 10px;
    font-size:14px;
    
    min-width: $content_width;
    width: $page_width;
    
    position: relative;
    margin-top: -39px; /* negative value of footer height */
    clear:both;
    
    .content{
        padding-bottom:2px;
    }
    
    #copyright{
        text-align: center;
        width:200px;
        margin: 0 auto;
    }
}

#body {
    padding-top: 20px;
    padding-bottom:50px;   /* Height of the footer */
    min-height: 400px;
}

a{
    text-decoration: none;
    &hover{
        text-decoration: underline;
    }
}

ul{
    li{
        list-style: none;
    }
    &.keep{
        padding-left:20px;
        li{
            list-style-type: disc;
            list-style-position: inside;
        }
    }
}

/* Random useful styles */
.rounded-panel{
  border: 2px solid #CCCCCC;
  background-color: #FFFFFF;
  padding: 10px;
  @include rounded(all,8px);
  @include inset_shadow(2px, 2px, 3px, #eeeeee);
}

.clear{
  clear:both;
}

/* Notice/Alert stuff */
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/icons/information.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/icons/tick.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/icons/error.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/icons/error.png');
}

.flash{
    border-width: 2px;
    padding:10px 10px 10px 30px
}
