@import "shadows";
@import "colours";
@import "rounded";

a{
  display: block;
  color: #333333;
}

body{
  background-color:#eeeeee;
}

#page{
  margin-top: 0px;
}

#clientlist_logo{
  width: 996px;
  height: 200px;
  background-image: url('../images/patient_head.png');
  background-repeat: no-repeat;
  background-position: center top;
}

#clinics_container{
  padding:20px;
  background:#FFFFFF;
  border:1px solid $dark_purple;
  
  .clinic{
    padding:20px;
    background-color: #EEEEEE;
    @include text_shadow(1px, 1px, 1px, #CCCCCC);
    margin-bottom:10px;
    
    &.ontime {
        color: #4F8A10;
        background-color: #DFF2BF;
    }
    &.delayed {
      color: #9F6000;
      background-color: #FEEFB3;
    }
    &.vdelayed {
        color: #D8000C;
        background-color: #FFBABA;
    }
    .name{
      margin-top:2px;
      float:left;
      font-size: 1.5em;
    }
    
    .status{
      color: #333333;
      font-size:1.2em;
      float:right;
      @include rounded(all, 8px);
      background-color:#EEEEEE;
      padding:10px;
      opacity: 0.6;
    }
  }
}