@import "shadows";
@import "colours";

#logo{
  width: 278px;
  height: 162px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
}

#page{
  margin-top: 20px;
}

#doctors_wrapper{
  background-image: url('../images/doctor_header.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding: 50px 0px 0px 8px;
  float:left;
  #doctors{
    border: 2px solid $dark_purple;
    padding: 20px;
    
    .doctor{
      width: 660px;
      border:1px solid #CCCCCC;
      margin-bottom:10px;
      height:60px;
      overflow: hidden;
      
      
      .name{
        font-size: 1.3em;
        margin-top: 20px;
        margin-left: 20px;
        float:left;
        width:250px;
      }
      
      .status{
        color:#FFFFFF;
        background-color: $dark_purple;
        margin-top: 12px;
        width:150px;
        padding:10px;
        float:left;
      }
      
      .update-box{
        float:right;
        width:150px;
        margin-right:-110px;
        height:100px;
        background-color:#ffffff;
        border-left:2px solid #CCCCCC;
        overflow: hidden;
        
        .handle{
          float:left;
          margin-left:5px;
          margin-right:18px;
          margin-top: 16px;
          width:29px;
          height:30px;
          background-repeat: no-repeat;
          
          background-repeat: no-repeat;
          
          &:hover{
            cursor:pointer;
          }
          
          &.expand{
            background-image: url('../images/arrow_buttons.png');
            background-position: 0px -30px;
          }
          
          &.contract{
            background-image: url('../images/arrow_buttons.png');
            background-position: 0px 0px;
          }
        }  
        
        .form_content{
        padding-top:15px;
          .delay_form{
            float:left;
          }
          
          .button{
            float:left;
            margin: 8px 0px 0px 10px;
          }
        }
      }
    }
  }
}

#notifications_wrapper{
  background-image: url('../images/notifications_header.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding: 50px 0px 0px 7px;
  float:right;
  
  #notifications{
    border: 2px solid $dark_purple;
    padding: 20px;
    width: 180px;
    min-height:250px;
    max-height:500px;

    .notification {
      font-size: 0.8em;
      padding:5px;
      background-color: #BDE5F8;
      border:2px solid #FFFFFF;

      &.new{
        display:none;
      }
      &:hover{
        border-color:#D8000C;
      }

      &.cancellation{
        color: #D8000C;
        background-color: #FFBABA;
      }
      .title{
        font-weight: bold;
      }

      margin-bottom:10px;
    }
  }
}

