.appointments {
  background-color: #ffffff;
}
.notification, .appointment {
  border: 1px solid #000000;
  background-color: #eeeeee;
  padding:10px;
  
  .title{
    font-weight: bold;
  }
}
.notification {
  width: 200px;
}
.appointment {
  width: 720px;
  margin: 5px;
}
