#patient_logo
#page
  #hospitals_container
    - @hospitals.each do |hospital|
      %a{:href=>"/hospitals/#{hospital.id}/clinics", :class=>"hospital"}
        .name
          = hospital.name
        .button
        .clear



  .clear
