- @appointments.each do |appointment|
  .notification.cancellation.new
    .title
      = appointment.patient.name
    .message
      = "Was due for the #{appointment.doctor.name} clinic, #{appointment.datetime.strftime("%d/%m/%Y %I/%M")} but can no longer make their appointment"